#createUserModal .modal-content {
    border: 1px solid #cbd5e1 !important;
}

#createUserModal .form-control:focus,
#createUserModal .form-select:focus {
    box-shadow: none !important;
    outline: none !important;
}